#app {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#buscadorDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 30vw;
  padding-right: 30vw;
}
